.header {
    width: 100%;
    padding: 1.5rem 1rem;

    display: flex;
    justify-content: space-between;
}

.logout:hover svg path {
    stroke: black;
}

@media (min-width: 640px) {
    .header {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .header {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .header {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .header {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .header {
        max-width: 1536px;
    }
}