.sidebar_icon {
    width: 23px;
    height: 23px;
    margin-right: 0.5rem;

    path,
    circle {
        stroke: rgb(75, 85, 99);
    }
}

.request_icon {
    width: 19px;
    height: 19px;
    margin-left: 4px;
}