.sidebar_icon {
    width: 23px;
    height: 23px;
    margin-right: 0.5rem;

    path,
    circle {
        stroke: rgb(75, 85, 99);
    }
}

.app_icon {
    path {
        stroke-width: 0.25px;
    }
}